@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.h1text {
  margin-top: 300px;
  text-align: center;
}

.countdownApp {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .App .h1text {
    font-size: 20px;
  }
}
